nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      a.navbar-brand(href='/') URL Shortener
      a.navbar-brand(href='https://github.com/iamstevendao/url-shortener') iamstevendao/url-shortener
